# 
# andy aliases file
#
# ---------------------
#
alias a="alias"
#
alias vim="gvim"
alias cls="clear"
alias so="source"
alias eclipse="/opt/eclipse/eclipse"
a ssh="ssh -X"
#
# mount the shared raid data area on the hp server
#a data="sudo mount bluebird:/data /alldata"
a data="sshfs andrew@bluebird:/data /alldata"
#a video="sudo mount bluebird:/home/andrew/videos /videos"

alias ll="ls -la"

a work="ssh UBQ\\\\agrahame@agrahame.eu.ubiquity.net" 
#
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# stuff for works vpn 
#
# the following date allows for use in constructor of hirondelle.date4j.DateTime constructor, used in little java utility program 'vpn-date'
a dateAGformatted="date +%F\ %T"
#
# 
a racoonon="sudo service racoon restart"
a racoonoff="sudo service racoon stop"
a openl2tpon="sudo service openl2tp restart"
a openl2tpoff="sudo service openl2tp stop"
#
a vpnon="racoonon; sleep 10; openl2tpon; dateAGformatted > $HOME/.vpnlastrun; sleep 10; route; echo \"VPN should be working now ...\"; echo \" \" "
a vpnt="echo \" ------------------------\"; java -jar /home/andrew/vpn-date.jar; echo \" ------------------------\""
#
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#

alias hdplay="mplayer -demuxer lavf -lavdopts threads=4:fast:skiploopfilter=all:skipframe=none -fps 25 -vf pp=lb"
#
#
# mount the windows partition 
# ---------------------
alias mw='sudo mount -r /dev/sda2 /mnt/windows'
#
# searching for stuff in code
# ---------------------
export currBranch="/home/agrahame/dev/product/branches/sipas8.1/root"
a fj="find \"$currBranch\" -name \"*.java\" -type f | xargs grep "
a fbx="find \"$currBranch\" -maxdepth 3 -name build.xml | xargs grep "
a fnj="find \"$currBranch\" -name \"*.java\" -not -path \"*/src/test/*\" "
a fnt="find \"$currBranch\" -name \"*.java\" -not -path \"*/src/java/*\" "
a fnjt="find \"$currBranch\" -name \"*.java\" "
#
# ---------------------
# remote logins
# ---------------------

#
# Departments Console Pages Server - engtest66
# ------------------------------------------------
a black='\E[30;47m'
a red='\E[31;47m'
a green='\E[32;47m'
a yellow='\E[33;47m'
a blue='\E[34;47m'
a magenta='\E[35;47m'
a cyan='\E[36;47m'
a white='\E[37;47m'

alias cpWarning="echo -e $yellow '*******************'; echo -e 'Are You sure ? This is the department Console Pages machine '; echo '************************'"
#
#
# General moving around short-cuts
#
alias s81="cd /home/agrahame/dev/product/branches/sipas8.1/root"
#
