# 
# andy aliases file
#
# ---------------------
#
alias a="alias"
alias so="source"
alias ls='ls --color=always'
#
# following one is used when I want a bit of clearance on the console - helps in conjunction with grep's to present search results
alias s="echo; echo; echo; echo; echo; echo; echo"
#
alias vim="gvim"
alias cls="clear"
alias so="source"
alias eclipse="/opt/eclipse/eclipse"
#
# run BT vpn
alias bt="sudo bt_vpn_connect -a"
#
#
# copy mrb jars to i6 VMs
alias i6m="/home/agrahame/scripts/i6jarsMrb.sh"
alias i6a="/home/agrahame/scripts/i6jarsAdaptor.sh"
alias i6im="/home/agrahame/scripts/i6InstallerMrbNodes.sh"
alias i6ia="/home/agrahame/scripts/i6InstallerAdaptorNode.sh"
#
a ssh="ssh -X"
#
a decompile="java -jar ~/utils/cfr_0_123.jar"
#
alias dl="cls; cd ~/Downloads; ll -rt"
alias sipp="cls; cd ~/Downloads/sipp/sipp-3.3; echo; echo; cat ag-commands.txt; echo; echo"
alias twag='xterm -geometry 170x10+0+750 -bg black -fg cyan -font 9x15 -e "java -jar /home/agrahame/workspace/agtwitter/agTwitter.jar | grep \"^(\""'
#
# mount the shared raid data area on the hp server
#a data="sudo mount bluebird:/data /alldata"
a data="sshfs andrew@bluebird:/data /alldata"
#a video="sudo mount bluebird:/home/andrew/videos /videos"

alias ll="ls -la"

# simple little bash timer scripts - run t1, then do something, then run t2 - gives an elapsed time
alias t1="/home/agrahame/scripts/t1.sh"
alias t2="/home/agrahame/scripts/t2.sh"


alias ba="t1; cd /home/agrahame/projects/src; ./buildall; cd -; t2"
alias aca="t1; ant clean; ant; t2"
alias agb="/home/agrahame/scripts/ag-build.sh"
alias gl="/home/agrahame/scripts/get-product-logs.sh"
alias vpn="/home/agrahame/scripts/avpn.sh"
alias eagb="gvim /home/agrahame/scripts/ag-build.sh"
alias j7="source /home/agrahame/scripts/set-up-java-alternative-apps.sh 7"
alias j8="source /home/agrahame/scripts/set-up-java-alternative-apps.sh 8"

##
#
##
#
alias sb="source /home/agrahame/scripts/sandbox.sh"
alias sby="source /home/agrahame/scripts/sandbox.sh yest"
alias sbl="source /home/agrahame/scripts/sandbox.sh lwd"
##
alias liclb="/home/agrahame/scripts/sendLbLicenseRest.sh"
alias licld="/home/agrahame/scripts/sendLdLicenseRest.sh"

##
#
# short cuts to code areas
#
# trunk
alias src="cd /home/agrahame/projects/src"
#
# LB branches
alias lb11="cd /home/agrahame/projects/branches/lb-branch-1.1.9.10"
alias lb13="cd /home/agrahame/projects/branches/lb-1.3-branch"
alias lb14="cd /home/agrahame/projects/branches/lb-1.4-branch"
alias lb15="cd /home/agrahame/projects/branches/lb-1.5-branch"
alias lb16="cd /home/agrahame/projects/branches/lb-1.6-branch"
alias lbnetty="cd /home/agrahame/projects/branches/lb-235-netty-4.1-migration"
#
# MRB branches
alias mrb12="cd /home/agrahame/projects/branches/mrb-1.2-branch"
alias mrb14="cd /home/agrahame/projects/branches/mrb-1.4-branch"
alias mrb15="cd /home/agrahame/projects/branches/mrb-1.5-branch"
alias mrb32="cd /home/agrahame/projects/branches/mrb-3.2-branch"
alias mrb33="cd /home/agrahame/projects/branches/mrb-3.3-branch"
alias mrb34="cd /home/agrahame/projects/branches/mrb-3.4.0-branch"
alias mrb35="cd /home/agrahame/projects/branches/mrb-3.5-branch"
#
# Others
alias webrtc="cd /home/agrahame/projects/branches/webrtc_calls_api_impl"
alias lic2="cd /home/agrahame/projects/branches/lic2"
##
#
#
#

function ba2 {
   t1
   cd /home/agrahame/projects/src;
   ./buildall
   if [ $? -ne 0 ]; then

      echo " ********************* "
      echo " ***************************************************************************** "
      echo " ****************************        ^^^^^^^^^^^^              *************** "
      echo " ******  ANT build failure - look at above output for failure  *************** "
      echo " ***************************************************************************** "
      echo " ********************* "
   fi
   cd -
   t2
}

a work="ssh UBQ\\\\agrahame@agrahame.eu.ubiquity.net" 
#
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# stuff for works vpn 
#
# the following date allows for use in constructor of hirondelle.date4j.DateTime constructor, used in little java utility program 'vpn-date'
a dateAGformatted="date +%F\ %T"
#
# 
a racoonon="sudo service racoon restart"
a racoonoff="sudo service racoon stop"
a openl2tpon="sudo service openl2tp restart"
a openl2tpoff="sudo service openl2tp stop"
#
a vpnon="racoonon; sleep 10; openl2tpon; dateAGformatted > $HOME/.vpnlastrun; sleep 10; route; echo \"VPN should be working now ...\"; echo \" \" "
a vpnt="echo \" ------------------------\"; java -jar /home/andrew/vpn-date.jar; echo \" ------------------------\""
#
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#

alias hdplay="mplayer -demuxer lavf -lavdopts threads=4:fast:skiploopfilter=all:skipframe=none -fps 25 -vf pp=lb"
#
#
# mount the windows partition 
# ---------------------
alias mw='sudo mount -r /dev/sda2 /mnt/windows'
#
# searching for stuff in code
# ---------------------
export currBranch="/home/agrahame/projects/src"
export currBranch=""
a fj="find \"$currBranch\" -name \"*.java\" -type f | xargs grep "
a fbx="find \"$currBranch\" -maxdepth 3 -name build.xml | xargs grep "
a fnt="find \"$currBranch\" -name \"*.java\" -not -path \"*/src/test/*\" "
a fnj="find \"$currBranch\" -name \"*.java\" -not -path \"*/src/java/*\" "
a fnjt="find \"$currBranch\" -name \"*.java\" "
#
# ---------------------
# remote logins
# ---------------------

#
# Departments Console Pages Server - engtest66
# ------------------------------------------------
a black='\E[30;47m'
a red='\E[31;47m'
a green='\E[32;47m'
a yellow='\E[33;47m'
a blue='\E[34;47m'
a magenta='\E[35;47m'
a cyan='\E[36;47m'
a white='\E[37;47m'

alias cpWarning="echo -e $yellow '*******************'; echo -e 'Are You sure ? This is the department Console Pages machine '; echo '************************'"
#
#
# General moving around short-cuts
#
#


#
#
# Amazon cloud drive commands
#
#
a acd_sync="acd_cli sync"
a acd_usage="acd_cli usage"
a acd_ls="acd_cli ls /"
a acd_mnt="acd_cli mount $HOME/amazon_cloud_drive"
a acd_unmnt="acd_cli umount $HOME/amazon_cloud_drive"
#
#


