[user]
	name = grahama2
	email = Andrew.GRAHAME2@admiralgroup.co.uk

[credential]
	# taken from https://help.github.com/articles/caching-your-github-password-in-git/#platform-linux
	helper = cache --timeout=3600

[http]
#   proxy = http://199.19.250.205:80

[https]
#   proxy = http://199.19.250.205:80

